<article class="sombra"><a href="/products/<%= product.id%>">
    <img src="/img/<%= product.image %>" alt="products">
    <div class="main-article">
    <i class="fas fa-truck verde"></i>
    <p class="precios">$<%= product.price %></p>
    <p class="descuentos"><%= product.descuento %> % off</p>
    <p class="descripciones"><%= product.name %></p></a>
    </div>
</article>