<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>

<body>
<%- include('partials/header') %>
    <section class="banner"><img src="/img/img-home-banner.jpg" alt="Promos mercado Liebre"></section>  
    <main>
        <section id="ultimaVisita">
            <h3>Ultima Visita</h3>
            <div class="products">
                <% products.forEach(product => { %>
                    <%- include('partials/product', { product }) %>
                <% })%>
            </div>
        </section>
          <section id="ofertas">
            <h3>Ofertas</h3>
            <div class="products">
                <% products.forEach(product => { %>
                    <%- include('partials/product', { product }) %>
                <% })%>
        </div>
        </section>
    </main>
    
    <%- include('partials/footer') %>
</body>

</html>